body {
    font-family: Arial, sans-serif; 
    padding: 0; margin: 0;
    background-size: 100% auto; /* Cover the width of the screen */
    background-repeat: no-repeat; /* No repeat for the background image */
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    background-color: #99d9ea; /* Set the background color */
    color: #001;
    background-image: url('{{ url_for('static', filename='backgroundImage.png') }}');
}
.flash-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a75615;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    transition: opacity 1s ease-out;
    opacity: 1;
}
.flash-message.fade-out {
    opacity: 0;
}